.mr-landscape-relative {
  position: relative;
}
.mr-landscape-absolute {
  position: absolute;
}
.mr-landscape-fixed {
  position: fixed;
  z-index: 1;
}
.mr-landscape-sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.mr-landscape-aligntop {
  vertical-align: top;
  align-items: flex-start;
  align-content: flex-start;
}
.mr-landscape-alignbottom {
  align-items: flex-end;
  align-content: flex-end;
  vertical-align: bottom;
}
.mr-landscape-top {
  top: 0;
  bottom: auto;
}
.mr-landscape-offsettop {
  top: var(--offset, 0);
}
.mr-landscape-right {
  right: 0;
  left: auto;
}
.mr-landscape-offsetright {
  right: var(--offset, 0);
}
.mr-landscape-middle {
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.mr-landscape-left {
  left: 0;
  right: auto;
}
.mr-landscape-offsetleft {
  left: var(--offset, 0);
}
.mr-landscape-floatleft {
  float: left;
}
.mr-landscape-floatright {
  float: right;
}
.mr-landscape-center,
.mr-landscape-marginauto {
  margin-left: auto;
  margin-right: auto;
}
.mr-landscape-bottom {
  bottom: 0;
  top: auto;
}
.mr-landscape-offsetbottom {
  bottom: var(--offset, 0);
}
.mr-landscape-baseline {
  align-items: baseline;
  vertical-align: baseline;
}
.mr-landscape-offsetelementtop:not(.mr-landscape-offsetelementleft):not(.mr-landscape-offsetelementright) {
  transform: translateY(calc(0 - var(--offset-element, 100%)));
}
.mr-landscape-offsetelementtop.mr-landscape-offsetelementleft {
  transform: translate(
    calc(0 - var(--offset-element, 100%)),
    calc(0 - var(--offset-element, 100%))
  );
}
.mr-landscape-offsetelementtop.mr-landscape-offsetelementright {
  transform: translate(
    var(--offset-element, 100%),
    calc(0 - var(--offset-element, 100%))
  );
}
.mr-landscape-offsetelementright:not(.mr-landscape-offsetelementtop):not(.mr-landscape-offsetelementbottom) {
  transform: translateX(var(--offset-element, 100%));
}
.mr-landscape-offsetelementbottom:not(.mr-landscape-offsetelementleft):not(.mr-landscape-offsetelementright) {
  transform: translateY(var(--offset-element, 100%));
}
.mr-landscape-offsetelementbottom.mr-landscape-offsetelementleft {
  transform: translate(calc(0 - var(--offset-element, 100%)), 100%);
}
.mr-landscape-offsetelementbottom.mr-landscape-offsetelementright {
  transform: translate(
    var(--offset-element, 100%),
    var(--offset-element, 100%)
  );
}
.mr-landscape-offsetelementleft:not(.mr-landscape-offsetelementtop):not(.mr-landscape-offsetelementbottom) {
  transform: translateX(calc(0 - var(--offset-element, 100%)));
}
