.mr-tablet-12perline,
.mr-tablet-11perline,
.mr-tablet-10perline,
.mr-tablet-9perline,
.mr-tablet-8perline,
.mr-tablet-7perline,
.mr-tablet-6perline,
.mr-tablet-5perline,
.mr-tablet-4perline,
.mr-tablet-3perline,
.mr-tablet-2perline,
.mr-tablet-1perline,
.mr-tablet-0perline,
.mr-tablet-perline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  gap: 0 !important;
}
.mr-tablet-12perline,
.mr-tablet-11perline,
.mr-tablet-10perline,
.mr-tablet-9perline,
.mr-tablet-8perline,
.mr-tablet-7perline,
.mr-tablet-6perline,
.mr-tablet-5perline,
.mr-tablet-4perline,
.mr-tablet-3perline,
.mr-tablet-2perline,
.mr-tablet-1perline,
.mr-tablet-perline {
  flex-wrap: wrap;
}
.mr-tablet-0perline {
  flex-wrap: nowrap;
}
.mr-tablet-wrap {
  flex-wrap: wrap !important;
}
.mr-tablet-nowrap {
  flex-wrap: nowrap !important;
}
.mr-tablet-12perline > *,
.mr-tablet-11perline > *,
.mr-tablet-10perline > *,
.mr-tablet-9perline > *,
.mr-tablet-8perline > *,
.mr-tablet-7perline > *,
.mr-tablet-6perline > *,
.mr-tablet-5perline > *,
.mr-tablet-4perline > *,
.mr-tablet-3perline > *,
.mr-tablet-2perline > *,
.mr-tablet-1perline > *,
.mr-tablet-0perline > *,
.mr-tablet-perline > * {
  flex-basis: auto !important;
}
.mr-tablet-section,
.mr-tablet-0perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-1perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size13,
.mr-tablet-width100 {
  width: 100%;
}
.mr-tablet-perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]) {
  width: var(--perline, 100%);
}
.mr-tablet-size13,
.mr-tablet-largesize {
  width: var(--size-13, 100%);
}
.mr-tablet-size12,
.mr-tablet-width75 {
  width: 75%;
}
.mr-tablet-size12 {
  width: var(--size-12, 75%);
}
.mr-tablet-2perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size11,
.mr-tablet-width50 {
  width: 50%;
}
.mr-tablet-size11 {
  width: var(--size-11, 50%);
}
.mr-tablet-3perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size10,
.mr-tablet-width33 {
  width: 33.33333333333333%;
}
.mr-tablet-size10 {
  width: var(--size-10, 33.33333333333333%);
}
.mr-tablet-4perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size9,
.mr-tablet-width25 {
  width: 25%;
}
.mr-tablet-size9 {
  width: var(--size-9, 25%);
}
.mr-tablet-5perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size8,
.mr-tablet-width20 {
  width: 20%;
}
.mr-tablet-size8 {
  width: var(--size-8, 20%);
}
.mr-tablet-6perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size7,
.mr-tablet-width16 {
  width: 16.66666666666667%;
}
.mr-tablet-size7 {
  width: var(--size-7, 16.66666666666667%);
}
.mr-tablet-7perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size6,
.mr-tablet-width14 {
  width: 14.28571428571429%;
}
.mr-tablet-size6,
.mr-tablet-mediumsize {
  width: var(--size-6, 14.28571428571429%);
}
.mr-tablet-8perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size5,
.mr-tablet-width12 {
  width: 12.5%;
}
.mr-tablet-size5 {
  width: var(--size-5, 12.5%);
}
.mr-tablet-9perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size4,
.mr-tablet-width11 {
  width: 11.11111111111111%;
}
.mr-tablet-size4 {
  width: var(--size-4, 11.11111111111111%);
}
.mr-tablet-10perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size3,
.mr-tablet-width10 {
  width: 10%;
}
.mr-tablet-0columns,
.mr-tablet-columns,
.mr-tablet-2columns {
  columns: 2 auto;
}
.mr-tablet-0columns,
.mr-tablet-columns {
  columns: var(--columns, 2) var(--column-width, auto);
}
.mr-tablet-1column,
.mr-tablet-1columns {
  columns: 1 auto;
  columns: 1 var(--column-width, auto);
}
.mr-tablet-2columns {
  columns: 2 var(--column-width, auto);
}
.mr-tablet-3columns {
  columns: 3 auto;
  columns: 3 var(--column-width, auto);
}
.mr-tablet-4columns {
  columns: 4 auto;
  columns: 4 var(--column-width, auto);
}
.mr-tablet-5columns {
  columns: 5 auto;
  columns: 5 var(--column-width, auto);
}
.mr-tablet-6columns {
  columns: 6 auto;
  columns: 6 var(--column-width, auto);
}
.mr-tablet-7columns {
  columns: 7 auto;
  columns: 7 var(--column-width, auto);
}
.mr-tablet-8columns {
  columns: 8 auto;
  columns: 8 var(--column-width, auto);
}
.mr-tablet-9columns {
  columns: 9 auto;
  columns: 9 var(--column-width, auto);
}
.mr-tablet-10columns {
  columns: 10 auto;
  columns: 10 var(--column-width, auto);
}
.mr-tablet-11columns {
  columns: 11 auto;
  columns: 11 var(--column-width, auto);
}
.mr-tablet-12columns {
  columns: 12 auto;
  columns: 12 var(--column-width, auto);
}
.mr-tablet-size3 {
  width: var(--size-3, 10%);
}
.mr-tablet-11perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size2,
.mr-tablet-width9 {
  width: 9.090909090909091%;
}
.mr-tablet-size2 {
  width: var(--size-2, 9.090909090909091%);
}
.mr-tablet-12perline
  > *:not([class*="mr-tablet-size"]):not([class*="mr-tablet-width"]),
.mr-tablet-size1,
.mr-tablet-width8 {
  width: 8.333333333333333%;
}
.mr-tablet-size1,
.mr-tablet-shortsize {
  width: var(--size-1, 8.333333333333333%);
}
.mr-tablet-sizeauto,
.mr-tablet-widthauto {
  width: auto;
}
/*
//In consideration
.mr-tablet-largeheight {
  height: 100vh;
}
.mr-tablet-mediumheight {
  height: 50vh;
}
.mr-tablet-shortheight {
  height: 25vh;
}*/
.mr-tablet-orderfirst,
.mr-tablet-order-1 {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
.mr-tablet-order1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.mr-tablet-order2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.mr-tablet-order3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
.mr-tablet-order4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
.mr-tablet-order5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
.mr-tablet-order6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
.mr-tablet-order7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
.mr-tablet-order8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
.mr-tablet-order9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}
.mr-tablet-order10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
.mr-tablet-order11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}
.mr-tablet-order12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}
.mr-tablet-orderlast {
  -ms-flex-order: 999;
  -webkit-order: 999;
  order: 999;
}
