.mr-tablet-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.mr-tablet-transparent {
  opacity: 0;
}
.mr-tablet-opaque {
  opacity: 1;
}
.mr-tablet-semiopaque {
  opacity: 0.5;
  opacity: var(--opacity, 0.5);
}
.mr-tablet-show,
.mr-tablet-block {
  display: block !important;
}
.mr-tablet-show,
.mr-tablet-visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.mr-tablet-hide,
.mr-tablet-none {
  display: none !important;
}
.mr-tablet-hide,
.mr-tablet-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
