.mr-tablet-relative {
  position: relative;
}
.mr-tablet-absolute {
  position: absolute;
}
.mr-tablet-fixed {
  position: fixed;
  z-index: 1;
}
.mr-tablet-sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.mr-tablet-aligntop {
  vertical-align: top;
  align-items: flex-start;
  align-content: flex-start;
}
.mr-tablet-alignbottom {
  align-items: flex-end;
  align-content: flex-end;
  vertical-align: bottom;
}
.mr-tablet-top {
  top: 0;
  bottom: auto;
}
.mr-tablet-offsettop {
  top: var(--offset, 0);
}
.mr-tablet-right {
  right: 0;
  left: auto;
}
.mr-tablet-offsetright {
  right: var(--offset, 0);
}
.mr-tablet-middle {
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.mr-tablet-left {
  left: 0;
  right: auto;
}
.mr-tablet-offsetleft {
  left: var(--offset, 0);
}
.mr-tablet-floatleft {
  float: left;
}
.mr-tablet-floatright {
  float: right;
}
.mr-tablet-center,
.mr-tablet-marginauto {
  margin-left: auto;
  margin-right: auto;
}
.mr-tablet-bottom {
  bottom: 0;
  top: auto;
}
.mr-tablet-offsetbottom {
  bottom: var(--offset, 0);
}
.mr-tablet-baseline {
  align-items: baseline;
  vertical-align: baseline;
}
.mr-tablet-offsetelementtop:not(.mr-tablet-offsetelementleft):not(.mr-tablet-offsetelementright) {
  transform: translateY(calc(0 - var(--offset-element, 100%)));
}
.mr-tablet-offsetelementtop.mr-tablet-offsetelementleft {
  transform: translate(
    calc(0 - var(--offset-element, 100%)),
    calc(0 - var(--offset-element, 100%))
  );
}
.mr-tablet-offsetelementtop.mr-tablet-offsetelementright {
  transform: translate(
    var(--offset-element, 100%),
    calc(0 - var(--offset-element, 100%))
  );
}
.mr-tablet-offsetelementright:not(.mr-tablet-offsetelementtop):not(.mr-tablet-offsetelementbottom) {
  transform: translateX(var(--offset-element, 100%));
}
.mr-tablet-offsetelementbottom:not(.mr-tablet-offsetelementleft):not(.mr-tablet-offsetelementright) {
  transform: translateY(var(--offset-element, 100%));
}
.mr-tablet-offsetelementbottom.mr-tablet-offsetelementleft {
  transform: translate(calc(0 - var(--offset-element, 100%)), 100%);
}
.mr-tablet-offsetelementbottom.mr-tablet-offsetelementright {
  transform: translate(
    var(--offset-element, 100%),
    var(--offset-element, 100%)
  );
}
.mr-tablet-offsetelementleft:not(.mr-tablet-offsetelementtop):not(.mr-tablet-offsetelementbottom) {
  transform: translateX(calc(0 - var(--offset-element, 100%)));
}
