/*(start not used on breakpoints)*/
.mr-desktop-font1 {
  font-family: "TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif";
  font-family: var(
    --font-1,
    "TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif"
  );
}
.mr-desktop-font2 {
  font-family: "Arial,Helvetica Neue,Helvetica";
  font-family: var(--font-2, "Arial,Helvetica Neue,Helvetica");
}
/*(end not used on breakpoints)*/
.mr-desktop-alignleft {
  text-align: left;
}
.mr-desktop-aligncenter {
  text-align: center;
}
.mr-desktop-alignright {
  text-align: right;
}
.mr-desktop-fontsize7,
.mr-desktop-bigfontsize {
  font-size: 2rem;
  font-size: var(--font-size-7, 2rem);
}
.mr-desktop-fontsize6 {
  font-size: 1.125rem;
  font-size: var(--font-size-6, 1.125rem);
}
.mr-desktop-fontsize5,
.mr-desktop-mediumfontsize {
  font-size: 1.17rem;
  font-size: var(--font-size-5, 1.17rem);
}
.mr-desktop-fontsize4 {
  font-size: 1rem;
  font-size: var(--font-size-4, 1rem);
}
.mr-desktop-fontsize3 {
  font-size: 0.875rem;
  font-size: var(--font-size-3, 0.875rem);
}
.mr-desktop-fontsize2 {
  font-size: 0.75rem;
  font-size: var(--font-size-2, 0.75rem);
}
.mr-desktop-fontsize1,
.mr-desktop-smallfontsize {
  font-size: 0.625rem;
  font-size: var(--font-size-1, 0.625rem);
}
