.mr-portrait-12perline,
.mr-portrait-11perline,
.mr-portrait-10perline,
.mr-portrait-9perline,
.mr-portrait-8perline,
.mr-portrait-7perline,
.mr-portrait-6perline,
.mr-portrait-5perline,
.mr-portrait-4perline,
.mr-portrait-3perline,
.mr-portrait-2perline,
.mr-portrait-1perline,
.mr-portrait-0perline,
.mr-portrait-perline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  gap: 0 !important;
}
.mr-portrait-12perline,
.mr-portrait-11perline,
.mr-portrait-10perline,
.mr-portrait-9perline,
.mr-portrait-8perline,
.mr-portrait-7perline,
.mr-portrait-6perline,
.mr-portrait-5perline,
.mr-portrait-4perline,
.mr-portrait-3perline,
.mr-portrait-2perline,
.mr-portrait-1perline,
.mr-portrait-perline {
  flex-wrap: wrap;
}
.mr-portrait-0perline {
  flex-wrap: nowrap;
}
.mr-portrait-wrap {
  flex-wrap: wrap !important;
}
.mr-portrait-nowrap {
  flex-wrap: nowrap !important;
}
.mr-portrait-12perline > *,
.mr-portrait-11perline > *,
.mr-portrait-10perline > *,
.mr-portrait-9perline > *,
.mr-portrait-8perline > *,
.mr-portrait-7perline > *,
.mr-portrait-6perline > *,
.mr-portrait-5perline > *,
.mr-portrait-4perline > *,
.mr-portrait-3perline > *,
.mr-portrait-2perline > *,
.mr-portrait-1perline > *,
.mr-portrait-0perline > *,
.mr-portrait-perline > * {
  flex-basis: auto !important;
}
.mr-portrait-section,
.mr-portrait-0perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-1perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size13,
.mr-portrait-width100 {
  width: 100%;
}
.mr-portrait-perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]) {
  width: var(--perline, 100%);
}
.mr-portrait-size13,
.mr-portrait-largesize {
  width: var(--size-13, 100%);
}
.mr-portrait-size12,
.mr-portrait-width75 {
  width: 75%;
}
.mr-portrait-size12 {
  width: var(--size-12, 75%);
}
.mr-portrait-2perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size11,
.mr-portrait-width50 {
  width: 50%;
}
.mr-portrait-size11 {
  width: var(--size-11, 50%);
}
.mr-portrait-3perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size10,
.mr-portrait-width33 {
  width: 33.33333333333333%;
}
.mr-portrait-size10 {
  width: var(--size-10, 33.33333333333333%);
}
.mr-portrait-4perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size9,
.mr-portrait-width25 {
  width: 25%;
}
.mr-portrait-size9 {
  width: var(--size-9, 25%);
}
.mr-portrait-5perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size8,
.mr-portrait-width20 {
  width: 20%;
}
.mr-portrait-size8 {
  width: var(--size-8, 20%);
}
.mr-portrait-6perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size7,
.mr-portrait-width16 {
  width: 16.66666666666667%;
}
.mr-portrait-size7 {
  width: var(--size-7, 16.66666666666667%);
}
.mr-portrait-7perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size6,
.mr-portrait-width14 {
  width: 14.28571428571429%;
}
.mr-portrait-size6,
.mr-portrait-mediumsize {
  width: var(--size-6, 14.28571428571429%);
}
.mr-portrait-8perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size5,
.mr-portrait-width12 {
  width: 12.5%;
}
.mr-portrait-size5 {
  width: var(--size-5, 12.5%);
}
.mr-portrait-9perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size4,
.mr-portrait-width11 {
  width: 11.11111111111111%;
}
.mr-portrait-size4 {
  width: var(--size-4, 11.11111111111111%);
}
.mr-portrait-10perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size3,
.mr-portrait-width10 {
  width: 10%;
}
.mr-portrait-0columns,
.mr-portrait-columns,
.mr-portrait-2columns {
  columns: 2 auto;
}
.mr-portrait-0columns,
.mr-portrait-columns {
  columns: var(--columns, 2) var(--column-width, auto);
}
.mr-portrait-1column,
.mr-portrait-1columns {
  columns: 1 auto;
  columns: 1 var(--column-width, auto);
}
.mr-portrait-2columns {
  columns: 2 var(--column-width, auto);
}
.mr-portrait-3columns {
  columns: 3 auto;
  columns: 3 var(--column-width, auto);
}
.mr-portrait-4columns {
  columns: 4 auto;
  columns: 4 var(--column-width, auto);
}
.mr-portrait-5columns {
  columns: 5 auto;
  columns: 5 var(--column-width, auto);
}
.mr-portrait-6columns {
  columns: 6 auto;
  columns: 6 var(--column-width, auto);
}
.mr-portrait-7columns {
  columns: 7 auto;
  columns: 7 var(--column-width, auto);
}
.mr-portrait-8columns {
  columns: 8 auto;
  columns: 8 var(--column-width, auto);
}
.mr-portrait-9columns {
  columns: 9 auto;
  columns: 9 var(--column-width, auto);
}
.mr-portrait-10columns {
  columns: 10 auto;
  columns: 10 var(--column-width, auto);
}
.mr-portrait-11columns {
  columns: 11 auto;
  columns: 11 var(--column-width, auto);
}
.mr-portrait-12columns {
  columns: 12 auto;
  columns: 12 var(--column-width, auto);
}
.mr-portrait-size3 {
  width: var(--size-3, 10%);
}
.mr-portrait-11perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size2,
.mr-portrait-width9 {
  width: 9.090909090909091%;
}
.mr-portrait-size2 {
  width: var(--size-2, 9.090909090909091%);
}
.mr-portrait-12perline
  > *:not([class*="mr-portrait-size"]):not([class*="mr-portrait-width"]),
.mr-portrait-size1,
.mr-portrait-width8 {
  width: 8.333333333333333%;
}
.mr-portrait-size1,
.mr-portrait-shortsize {
  width: var(--size-1, 8.333333333333333%);
}
.mr-portrait-sizeauto,
.mr-portrait-widthauto {
  width: auto;
}
/*
//In consideration
.mr-portrait-largeheight {
  height: 100vh;
}
.mr-portrait-mediumheight {
  height: 50vh;
}
.mr-portrait-shortheight {
  height: 25vh;
}*/
.mr-portrait-orderfirst,
.mr-portrait-order-1 {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
.mr-portrait-order1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.mr-portrait-order2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.mr-portrait-order3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
.mr-portrait-order4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
.mr-portrait-order5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
.mr-portrait-order6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
.mr-portrait-order7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
.mr-portrait-order8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
.mr-portrait-order9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}
.mr-portrait-order10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
.mr-portrait-order11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}
.mr-portrait-order12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}
.mr-portrait-orderlast {
  -ms-flex-order: 999;
  -webkit-order: 999;
  order: 999;
}
