.mr-portrait-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.mr-portrait-transparent {
  opacity: 0;
}
.mr-portrait-opaque {
  opacity: 1;
}
.mr-portrait-semiopaque {
  opacity: 0.5;
  opacity: var(--opacity, 0.5);
}
.mr-portrait-show,
.mr-portrait-block {
  display: block !important;
}
.mr-portrait-show,
.mr-portrait-visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.mr-portrait-hide,
.mr-portrait-none {
  display: none !important;
}
.mr-portrait-hide,
.mr-portrait-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
