.mr-laptop-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.mr-laptop-transparent {
  opacity: 0;
}
.mr-laptop-opaque {
  opacity: 1;
}
.mr-laptop-semiopaque {
  opacity: 0.5;
  opacity: var(--opacity, 0.5);
}
.mr-laptop-show,
.mr-laptop-block {
  display: block !important;
}
.mr-laptop-show,
.mr-laptop-visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.mr-laptop-hide,
.mr-laptop-none {
  display: none !important;
}
.mr-laptop-hide,
.mr-laptop-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
