.mr-laptop-relative {
  position: relative;
}
.mr-laptop-absolute {
  position: absolute;
}
.mr-laptop-fixed {
  position: fixed;
  z-index: 1;
}
.mr-laptop-sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.mr-laptop-aligntop {
  vertical-align: top;
  align-items: flex-start;
  align-content: flex-start;
}
.mr-laptop-alignbottom {
  align-items: flex-end;
  align-content: flex-end;
  vertical-align: bottom;
}
.mr-laptop-top {
  top: 0;
  bottom: auto;
}
.mr-laptop-offsettop {
  top: var(--offset, 0);
}
.mr-laptop-right {
  right: 0;
  left: auto;
}
.mr-laptop-offsetright {
  right: var(--offset, 0);
}
.mr-laptop-middle {
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.mr-laptop-left {
  left: 0;
  right: auto;
}
.mr-laptop-offsetleft {
  left: var(--offset, 0);
}
.mr-laptop-floatleft {
  float: left;
}
.mr-laptop-floatright {
  float: right;
}
.mr-laptop-center,
.mr-laptop-marginauto {
  margin-left: auto;
  margin-right: auto;
}
.mr-laptop-bottom {
  bottom: 0;
  top: auto;
}
.mr-laptop-offsetbottom {
  bottom: var(--offset, 0);
}
.mr-laptop-baseline {
  align-items: baseline;
  vertical-align: baseline;
}
.mr-laptop-offsetelementtop:not(.mr-laptop-offsetelementleft):not(.mr-laptop-offsetelementright) {
  transform: translateY(calc(0 - var(--offset-element, 100%)));
}
.mr-laptop-offsetelementtop.mr-laptop-offsetelementleft {
  transform: translate(
    calc(0 - var(--offset-element, 100%)),
    calc(0 - var(--offset-element, 100%))
  );
}
.mr-laptop-offsetelementtop.mr-laptop-offsetelementright {
  transform: translate(
    var(--offset-element, 100%),
    calc(0 - var(--offset-element, 100%))
  );
}
.mr-laptop-offsetelementright:not(.mr-laptop-offsetelementtop):not(.mr-laptop-offsetelementbottom) {
  transform: translateX(var(--offset-element, 100%));
}
.mr-laptop-offsetelementbottom:not(.mr-laptop-offsetelementleft):not(.mr-laptop-offsetelementright) {
  transform: translateY(var(--offset-element, 100%));
}
.mr-laptop-offsetelementbottom.mr-laptop-offsetelementleft {
  transform: translate(calc(0 - var(--offset-element, 100%)), 100%);
}
.mr-laptop-offsetelementbottom.mr-laptop-offsetelementright {
  transform: translate(
    var(--offset-element, 100%),
    var(--offset-element, 100%)
  );
}
.mr-laptop-offsetelementleft:not(.mr-laptop-offsetelementtop):not(.mr-laptop-offsetelementbottom) {
  transform: translateX(calc(0 - var(--offset-element, 100%)));
}
