.mr-laptop-scroll {
  overflow: auto;
}
.mr-laptop-noscroll {
  overflow: hidden !important;
}
.mr-laptop-hidescroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.mr-laptop-horizontalscroll,
.mr-laptop-horizontalscrollcontent > * {
  display: -webkit-inline-box !important;
  flex-wrap: unset !important;
  overflow-x: auto;
  overflow-y: hidden;
}
.mr-laptop-horizontalscroll img,
.mr-laptop-horizontalscrollcontent > * img,
.mr-laptop-horizontalscroll a,
.mr-laptop-horizontalscrollcontent > * a {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mr-laptop-horizontalscroll > *,
.mr-laptop-horizontalscrollcontent > * > * {
  display: block;
}
.mr-laptop-drag,
.mr-laptop-dragcontent > *,
.mr-laptop-draganddrop:not([draggable="false"]) {
  cursor: grab;
}
.mr-laptop-dragging:not([draggable="false"]),
.mr-laptop-draggingcontent > * {
  cursor: grabbing;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mr-laptop-dragging a,
.mr-laptop-draggingcontent a {
  pointer-events: none;
}
@supports (-webkit-overflow-scrolling: touch) {
  .mr-laptop-iosscroll,
  .mr-laptop-scroll {
    overflow-y: scroll !important;
  }
  .mr-laptop-horizontalscroll,
  .mr-laptop-horizontalscrollcontent > * {
    overflow-x: scroll !important;
  }
  .mr-laptop-iosscroll,
  .mr-laptop-scroll,
  .mr-laptop-horizontalscroll,
  .mr-laptop-horizontalscrollcontent > * {
    -webkit-overflow-scrolling: touch !important;
  }
}
