.mr-laptop-12perline,
.mr-laptop-11perline,
.mr-laptop-10perline,
.mr-laptop-9perline,
.mr-laptop-8perline,
.mr-laptop-7perline,
.mr-laptop-6perline,
.mr-laptop-5perline,
.mr-laptop-4perline,
.mr-laptop-3perline,
.mr-laptop-2perline,
.mr-laptop-1perline,
.mr-laptop-0perline,
.mr-laptop-perline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  gap: 0 !important;
}
.mr-laptop-12perline,
.mr-laptop-11perline,
.mr-laptop-10perline,
.mr-laptop-9perline,
.mr-laptop-8perline,
.mr-laptop-7perline,
.mr-laptop-6perline,
.mr-laptop-5perline,
.mr-laptop-4perline,
.mr-laptop-3perline,
.mr-laptop-2perline,
.mr-laptop-1perline,
.mr-laptop-perline {
  flex-wrap: wrap;
}
.mr-laptop-0perline {
  flex-wrap: nowrap;
}
.mr-laptop-wrap {
  flex-wrap: wrap !important;
}
.mr-laptop-nowrap {
  flex-wrap: nowrap !important;
}
.mr-laptop-12perline > *,
.mr-laptop-11perline > *,
.mr-laptop-10perline > *,
.mr-laptop-9perline > *,
.mr-laptop-8perline > *,
.mr-laptop-7perline > *,
.mr-laptop-6perline > *,
.mr-laptop-5perline > *,
.mr-laptop-4perline > *,
.mr-laptop-3perline > *,
.mr-laptop-2perline > *,
.mr-laptop-1perline > *,
.mr-laptop-0perline > *,
.mr-laptop-perline > * {
  flex-basis: auto !important;
}
.mr-laptop-section,
.mr-laptop-0perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-1perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size13,
.mr-laptop-width100 {
  width: 100%;
}
.mr-laptop-perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]) {
  width: var(--perline, 100%);
}
.mr-laptop-size13,
.mr-laptop-largesize {
  width: var(--size-13, 100%);
}
.mr-laptop-size12,
.mr-laptop-width75 {
  width: 75%;
}
.mr-laptop-size12 {
  width: var(--size-12, 75%);
}
.mr-laptop-2perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size11,
.mr-laptop-width50 {
  width: 50%;
}
.mr-laptop-size11 {
  width: var(--size-11, 50%);
}
.mr-laptop-3perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size10,
.mr-laptop-width33 {
  width: 33.33333333333333%;
}
.mr-laptop-size10 {
  width: var(--size-10, 33.33333333333333%);
}
.mr-laptop-4perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size9,
.mr-laptop-width25 {
  width: 25%;
}
.mr-laptop-size9 {
  width: var(--size-9, 25%);
}
.mr-laptop-5perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size8,
.mr-laptop-width20 {
  width: 20%;
}
.mr-laptop-size8 {
  width: var(--size-8, 20%);
}
.mr-laptop-6perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size7,
.mr-laptop-width16 {
  width: 16.66666666666667%;
}
.mr-laptop-size7 {
  width: var(--size-7, 16.66666666666667%);
}
.mr-laptop-7perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size6,
.mr-laptop-width14 {
  width: 14.28571428571429%;
}
.mr-laptop-size6,
.mr-laptop-mediumsize {
  width: var(--size-6, 14.28571428571429%);
}
.mr-laptop-8perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size5,
.mr-laptop-width12 {
  width: 12.5%;
}
.mr-laptop-size5 {
  width: var(--size-5, 12.5%);
}
.mr-laptop-9perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size4,
.mr-laptop-width11 {
  width: 11.11111111111111%;
}
.mr-laptop-size4 {
  width: var(--size-4, 11.11111111111111%);
}
.mr-laptop-10perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size3,
.mr-laptop-width10 {
  width: 10%;
}
.mr-laptop-0columns,
.mr-laptop-columns,
.mr-laptop-2columns {
  columns: 2 auto;
}
.mr-laptop-0columns,
.mr-laptop-columns {
  columns: var(--columns, 2) var(--column-width, auto);
}
.mr-laptop-1column,
.mr-laptop-1columns {
  columns: 1 auto;
  columns: 1 var(--column-width, auto);
}
.mr-laptop-2columns {
  columns: 2 var(--column-width, auto);
}
.mr-laptop-3columns {
  columns: 3 auto;
  columns: 3 var(--column-width, auto);
}
.mr-laptop-4columns {
  columns: 4 auto;
  columns: 4 var(--column-width, auto);
}
.mr-laptop-5columns {
  columns: 5 auto;
  columns: 5 var(--column-width, auto);
}
.mr-laptop-6columns {
  columns: 6 auto;
  columns: 6 var(--column-width, auto);
}
.mr-laptop-7columns {
  columns: 7 auto;
  columns: 7 var(--column-width, auto);
}
.mr-laptop-8columns {
  columns: 8 auto;
  columns: 8 var(--column-width, auto);
}
.mr-laptop-9columns {
  columns: 9 auto;
  columns: 9 var(--column-width, auto);
}
.mr-laptop-10columns {
  columns: 10 auto;
  columns: 10 var(--column-width, auto);
}
.mr-laptop-11columns {
  columns: 11 auto;
  columns: 11 var(--column-width, auto);
}
.mr-laptop-12columns {
  columns: 12 auto;
  columns: 12 var(--column-width, auto);
}
.mr-laptop-size3 {
  width: var(--size-3, 10%);
}
.mr-laptop-11perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size2,
.mr-laptop-width9 {
  width: 9.090909090909091%;
}
.mr-laptop-size2 {
  width: var(--size-2, 9.090909090909091%);
}
.mr-laptop-12perline
  > *:not([class*="mr-laptop-size"]):not([class*="mr-laptop-width"]),
.mr-laptop-size1,
.mr-laptop-width8 {
  width: 8.333333333333333%;
}
.mr-laptop-size1,
.mr-laptop-shortsize {
  width: var(--size-1, 8.333333333333333%);
}
.mr-laptop-sizeauto,
.mr-laptop-widthauto {
  width: auto;
}
/*
//In consideration
.mr-laptop-largeheight {
  height: 100vh;
}
.mr-laptop-mediumheight {
  height: 50vh;
}
.mr-laptop-shortheight {
  height: 25vh;
}*/
.mr-laptop-orderfirst,
.mr-laptop-order-1 {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
.mr-laptop-order1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.mr-laptop-order2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.mr-laptop-order3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
.mr-laptop-order4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
.mr-laptop-order5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
.mr-laptop-order6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
.mr-laptop-order7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
.mr-laptop-order8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
.mr-laptop-order9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}
.mr-laptop-order10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
.mr-laptop-order11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}
.mr-laptop-order12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}
.mr-laptop-orderlast {
  -ms-flex-order: 999;
  -webkit-order: 999;
  order: 999;
}
