@keyframes mrHoverFadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes mrHoverFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mrHoverSlideOutTop {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}
@keyframes mrHoverSlideInTop {
  0% {
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes mrHoverSlideOutBottom {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
}
@keyframes mrHoverSlideInBottom {
  0% {
    -webkit-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes mrHoverSlideOutRight {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}
@keyframes mrHoverSlideInRight {
  0% {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes mrHoverSlideOutLeft {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
  }
}
@keyframes mrHoverSlideInLeft {
  0% {
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes mrHoverScaleOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes mrHoverScaleIn {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes mrHoverZoomOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
  }
}
@keyframes mrHoverZoomIn {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
    transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
    transform-origin: center;
  }
}
.mr-hover-fade:hover,
.mr-hover-fadeout:hover,
.mr-hover-fade.mr-active:not(.mr-inactive),
.mr-hover-fadein {
  -webkit-animation: mrHoverFadeOut 0.5s forwards;
  animation: mrHoverFadeOut 0.5s forwards;
  -webkit-animation: mrHoverFadeOut var(--transition-duration, 0.5s) forwards;
  animation: mrHoverFadeOut var(--transition-duration, 0.5s) forwards;
}
.mr-hover-fade.mr-active:not(.mr-inactive):hover,
.mr-hover-fadein:hover,
.mr-hover-fade,
.mr-hover-fadeout {
  -webkit-animation: mrHoverFadeIn 0.5s forwards;
  animation: mrHoverFadeIn 0.5s forwards;
  -webkit-animation: mrHoverFadeIn var(--transition-duration, 0.5s) forwards;
  animation: mrHoverFadeIn var(--transition-duration, 0.5s) forwards;
}
.mr-hover-slide,
.mr-hover-slidebottom,
.mr-hover-slideright,
.mr-hover-slideleft,
.mr-hover-slidetop,
.mr-hover-slideintop,
.mr-hover-slideinbottom,
.mr-hover-slideouttop,
.mr-hover-slideoutbottom,
.mr-hover-slideinright,
.mr-hover-slideoutright,
.mr-hover-slideinleft,
.mr-hover-slideoutleft {
  overflow: hidden;
}
.mr-hover-slide:hover > *,
.mr-hover-slidebottom:hover > *,
.mr-hover-slideoutbottom:hover > *,
.mr-hover-slide.mr-active:not(.mr-inactive) > *,
.mr-hover-slidebottom.mr-active:not(.mr-inactive) > *,
.mr-hover-slideinbottom > * {
  -webkit-animation: mrHoverSlideOutBottom 0.5s forwards;
  animation: mrHoverSlideOutBottom 0.5s forwards;
  -webkit-animation: mrHoverSlideOutBottom var(--transition-duration, 0.5s)
    forwards;
  animation: mrHoverSlideOutBottom var(--transition-duration, 0.5s) forwards;
}
.mr-hover-slide.mr-active:not(.mr-inactive):hover > *,
.mr-hover-slidebottom.mr-active:not(.mr-inactive):hover > *,
.mr-hover-slideinbottom:hover > *,
.mr-hover-slide > *,
.mr-hover-slidebottom > *,
.mr-hover-slideoutbottom > * {
  -webkit-animation: mrHoverSlideInBottom 0.5s forwards;
  animation: mrHoverSlideInBottom 0.5s forwards;
  -webkit-animation: mrHoverSlideInBottom var(--transition-duration, 0.5s)
    forwards;
  animation: mrHoverSlideInBottom var(--transition-duration, 0.5s) forwards;
}
.mr-hover-transitiontop .mr-hover-slide:hover > *,
.mr-hover-slidetop:hover > *,
.mr-hover-slideouttop:hover > *,
.mr-hover-transitiontop .mr-hover-slide.mr-active:not(.mr-inactive) > *,
.mr-hover-slidetop.mr-active:not(.mr-inactive) > *,
.mr-hover-slideintop > * {
  -webkit-animation: mrHoverSlideOutTop 0.5s forwards;
  animation: mrHoverSlideOutTop 0.5s forwards;
  -webkit-animation: mrHoverSlideOutTop var(--transition-duration, 0.5s)
    forwards;
  animation: mrHoverSlideOutTop var(--transition-duration, 0.5s) forwards;
}
.mr-hover-transitiontop .mr-hover-slide.mr-active:not(.mr-inactive):hover > *,
.mr-hover-slidetop.mr-active:not(.mr-inactive):hover > *,
.mr-hover-slideintop:hover > *,
.mr-hover-transitiontop .mr-hover-slide > *,
.mr-hover-slidetop > *,
.mr-hover-slideouttop > * {
  -webkit-animation: mrHoverSlideInTop 0.5s forwards;
  animation: mrHoverSlideInTop 0.5s forwards;
  -webkit-animation: mrHoverSlideInTop var(--transition-duration, 0.5s) forwards;
  animation: mrHoverSlideInTop var(--transition-duration, 0.5s) forwards;
}
.mr-hover-transitionright .mr-hover-slide:hover > *,
.mr-hover-slideright:hover > *,
.mr-hover-slideoutright:hover > *,
.mr-hover-transitionright .mr-hover-slide.mr-active:not(.mr-inactive) > *,
.mr-hover-slideright.mr-active:not(.mr-inactive) > *,
.mr-hover-slideinright > * {
  -webkit-animation: mrHoverSlideOutRight 0.5s forwards;
  animation: mrHoverSlideOutRight 0.5s forwards;
  -webkit-animation: mrHoverSlideOutRight var(--transition-duration, 0.5s)
    forwards;
  animation: mrHoverSlideOutRight var(--transition-duration, 0.5s) forwards;
}
.mr-hover-transitionright .mr-hover-slide.mr-active:not(.mr-inactive):hover > *,
.mr-hover-slideright.mr-active:not(.mr-inactive):hover > *,
.mr-hover-slideinright:hover > *,
.mr-hover-transitionright .mr-hover-slide > *,
.mr-hover-slideright > *,
.mr-hover-slideoutright > * {
  -webkit-animation: mrHoverSlideInRight 0.5s forwards;
  animation: mrHoverSlideInRight 0.5s forwards;
  -webkit-animation: mrHoverSlideInRight var(--transition-duration, 0.5s)
    forwards;
  animation: mrHoverSlideInRight var(--transition-duration, 0.5s) forwards;
}
.mr-hover-transitionleft .mr-hover-slide:hover > *,
.mr-hover-slideleft:hover > *,
.mr-hover-slideoutleft:hover > *,
.mr-hover-transitionleft .mr-hover-slide.mr-active:not(.mr-inactive) > *,
.mr-hover-slideleft.mr-active:not(.mr-inactive) > *,
.mr-hover-slideinleft > * {
  -webkit-animation: mrHoverSlideOutLeft 0.5s forwards;
  animation: mrHoverSlideOutLeft 0.5s forwards;
  -webkit-animation: mrHoverSlideOutLeft var(--transition-duration, 0.5s)
    forwards;
  animation: mrHoverSlideOutLeft var(--transition-duration, 0.5s) forwards;
}
.mr-hover-transitionleft .mr-hover-slide.mr-active:not(.mr-inactive):hover > *,
.mr-hover-slideleft.mr-active:not(.mr-inactive):hover > *,
.mr-hover-slideinleft:hover > *,
.mr-hover-transitionleft .mr-hover-slide > *,
.mr-hover-slideleft > *,
.mr-hover-slideoutleft > * {
  -webkit-animation: mrHoverSlideInLeft 0.5s forwards;
  animation: mrHoverSlideInLeft 0.5s forwards;
  -webkit-animation: mrHoverSlideInLeft var(--transition-duration, 0.5s)
    forwards;
  animation: mrHoverSlideInLeft var(--transition-duration, 0.5s) forwards;
}
.mr-hover-scale:hover,
.mr-hover-scaleleft:hover,
.mr-hover-scaleright:hover,
.mr-hover-scaleout:hover,
.mr-hover-scaleoutleft:hover,
.mr-hover-scaleoutright:hover,
.mr-hover-scale.mr-active:not(.mr-inactive),
.mr-hover-scaleleft.mr-active:not(.mr-inactive),
.mr-hover-scaleright.mr-active:not(.mr-inactive),
.mr-hover-scalein,
.mr-hover-scaleinleft,
.mr-hover-scaleinright {
  transform-origin: center;
  -webkit-animation: mrHoverScaleOut 0.5s forwards;
  animation: mrHoverScaleOut 0.5s forwards;
  -webkit-animation: mrHoverScaleOut var(--transition-duration, 0.5s) forwards;
  animation: mrHoverScaleOut var(--transition-duration, 0.5s) forwards;
}
.mr-hover-scale.mr-active:not(.mr-inactive):hover,
.mr-hover-scaleleft.mr-active:not(.mr-inactive):hover,
.mr-hover-scaleright.mr-active:not(.mr-inactive):hover,
.mr-hover-scalein:hover,
.mr-hover-scaleinleft:hover,
.mr-hover-scaleinright:hover,
.mr-hover-scale,
.mr-hover-scaleleft,
.mr-hover-scaleright,
.mr-hover-scaleout,
.mr-hover-scaleoutleft,
.mr-hover-scaleoutright {
  -webkit-animation: mrHoverScaleIn 0.5s forwards;
  animation: mrHoverScaleIn 0.5s forwards;
  -webkit-animation: mrHoverScaleIn var(--transition-duration, 0.5s) forwards;
  animation: mrHoverScaleIn var(--transition-duration, 0.5s) forwards;
}
.mr-hover-transitionleft .mr-hover-scale:not(.mr-active):hover,
.mr-hover-scaleleft:not(.mr-active):hover,
.mr-hover-scaleoutright:hover,
.mr-hover-transitionright .mr-hover-scale.mr-active:hover,
.mr-hover-scaleright.mr-active:hover,
.mr-hover-scaleoutleft:hover {
  transform-origin: right center;
}
.mr-hover-transitionleft .mr-hover-scale.mr-active:hover,
.mr-hover-scaleleft.mr-active:hover,
.mr-hover-scaleinright:hover,
.mr-hover-transitionright .mr-hover-scale:not(.mr-active):hover,
.mr-hover-scaleright:not(.mr-active):hover,
.mr-hover-scaleoutleft:hover {
  transform-origin: left center;
}
.mr-hover-zoom:hover,
.mr-hover-zoomleft:hover,
.mr-hover-zoomright:hover,
.mr-hover-zoomout:hover,
.mr-hover-zoomoutleft:hover,
.mr-hover-zoomoutright:hover,
.mr-hover-zoom.mr-active:not(.mr-inactive),
.mr-hover-zoomleft.mr-active:not(.mr-inactive),
.mr-hover-zoomright.mr-active:not(.mr-inactive),
.mr-hover-zoomin,
.mr-hover-zoominleft,
.mr-hover-zoominright {
  transform-origin: center;
  -webkit-animation: mrHoverZoomOut 0.5s forwards;
  animation: mrHoverZoomOut 0.5s forwards;
  -webkit-animation: mrHoverZoomOut var(--transition-duration, 0.5s) forwards;
  animation: mrHoverZoomOut var(--transition-duration, 0.5s) forwards;
}
.mr-hover-zoom.mr-active:not(.mr-inactive):hover,
.mr-hover-zoomleft.mr-active:not(.mr-inactive):hover,
.mr-hover-zoomright.mr-active:not(.mr-inactive):hover,
.mr-hover-zoomin:hover,
.mr-hover-zoominleft:hover,
.mr-hover-zoominright:hover,
.mr-hover-zoom,
.mr-hover-zoomleft,
.mr-hover-zoomright,
.mr-hover-zoomout,
.mr-hover-zoomoutleft,
.mr-hover-zoomoutright {
  -webkit-animation: mrHoverZoomIn 0.5s forwards;
  animation: mrHoverZoomIn 0.5s forwards;
  -webkit-animation: mrHoverZoomIn var(--transition-duration, 0.5s) forwards;
  animation: mrHoverZoomIn var(--transition-duration, 0.5s) forwards;
}
.mr-hover-transitionleft .mr-hover-zoom.mr-active:hover,
.mr-hover-zoomleft.mr-active:hover,
.mr-hover-zoominleft:hover,
.mr-hover-transitionleft .mr-hover-zoom:not(.mr-active):hover,
.mr-hover-zoomleft:not(.mr-active):hover,
.mr-hover-zoomoutleft:hover {
  transform-origin: left center;
}
.mr-hover-transitionright .mr-hover-zoom.mr-active:hover,
.mr-hover-zoomright.mr-active:hover,
.mr-hover-zoomoutright:hover,
.mr-hover-transitionright .mr-hover-zoom:not(.mr-active):hover,
.mr-hover-zoomright:not(.mr-active):hover,
.mr-hover-zoominright:hover {
  transform-origin: right center;
}
.mr-hover-transition,
.mr-hover-ease {
  transition: all 0.5s ease;
  transition: all var(--transition-duration, 0.5s) ease;
}
.mr-hover-easein {
  transition: all 0.5s ease-in;
  transition: all var(--transition-duration, 0.5s) ease-in;
}
.mr-hover-easeout {
  transition: all 0.5s ease-out;
  transition: all var(--transition-duration, 0.5s) ease-out;
}
.mr-hover-easeinout {
  transition: all 0.5s ease-in-out;
  transition: all var(--transition-duration, 0.5s) ease-in-out;
}
.mr-hover-linear {
  transition: all 0.5s linear;
  transition: all var(--transition-duration, 0.5s) linear;
}
