.mr-hover-scroll:hover {
  overflow: auto;
}
.mr-hover-scroll:hover::-webkit-scrollbar {
  height: auto;
  width: auto;
}
.mr-hover-noscroll:hover {
  overflow: hidden !important;
}
.mr-hover-hidescroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
@supports (-webkit-overflow-scrolling: touch) {
  .mr-hover-iosscroll:hover,
  .mr-hover-scroll:hover {
    overflow-y: scroll !important;
  }
}
