.mr-hover-flex:hover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.mr-hover-transparent:hover {
  opacity: 0;
}
.mr-hover-opaque:hover {
  opacity: 1;
}
.mr-hover-semiopaque:hover {
  opacity: 0.5;
  opacity: var(--opacity, 0.5);
}
.mr-hover-show:hover,
.mr-hover-block:hover {
  display: block !important;
}
.mr-hover-show:hover,
.mr-hover-visible:hover {
  opacity: 1 !important;
  visibility: visible !important;
}
.mr-hover-hide:hover,
.mr-hover-none:hover {
  display: none !important;
}
.mr-hover-hide:hover,
.mr-hover-hidden:hover {
  opacity: 0 !important;
  visibility: hidden !important;
}
