.mr-phone-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.mr-phone-transparent {
  opacity: 0;
}
.mr-phone-opaque {
  opacity: 1;
}
.mr-phone-semiopaque {
  opacity: 0.5;
  opacity: var(--opacity, 0.5);
}
.mr-phone-show,
.mr-phone-block {
  display: block !important;
}
.mr-phone-show,
.mr-phone-visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.mr-phone-hide,
.mr-phone-none {
  display: none !important;
}
.mr-phone-hide,
.mr-phone-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
