.mr-phone-relative {
  position: relative;
}
.mr-phone-absolute {
  position: absolute;
}
.mr-phone-fixed {
  position: fixed;
  z-index: 1;
}
.mr-phone-sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.mr-phone-aligntop {
  vertical-align: top;
  align-items: flex-start;
  align-content: flex-start;
}
.mr-phone-alignbottom {
  align-items: flex-end;
  align-content: flex-end;
  vertical-align: bottom;
}
.mr-phone-top {
  top: 0;
  bottom: auto;
}
.mr-phone-offsettop {
  top: var(--offset, 0);
}
.mr-phone-right {
  right: 0;
  left: auto;
}
.mr-phone-offsetright {
  right: var(--offset, 0);
}
.mr-phone-middle {
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.mr-phone-left {
  left: 0;
  right: auto;
}
.mr-phone-offsetleft {
  left: var(--offset, 0);
}
.mr-phone-floatleft {
  float: left;
}
.mr-phone-floatright {
  float: right;
}
.mr-phone-center,
.mr-phone-marginauto {
  margin-left: auto;
  margin-right: auto;
}
.mr-phone-bottom {
  bottom: 0;
  top: auto;
}
.mr-phone-offsetbottom {
  bottom: var(--offset, 0);
}
.mr-phone-baseline {
  align-items: baseline;
  vertical-align: baseline;
}
.mr-phone-offsetelementtop:not(.mr-phone-offsetelementleft):not(.mr-phone-offsetelementright) {
  transform: translateY(calc(0 - var(--offset-element, 100%)));
}
.mr-phone-offsetelementtop.mr-phone-offsetelementleft {
  transform: translate(
    calc(0 - var(--offset-element, 100%)),
    calc(0 - var(--offset-element, 100%))
  );
}
.mr-phone-offsetelementtop.mr-phone-offsetelementright {
  transform: translate(
    var(--offset-element, 100%),
    calc(0 - var(--offset-element, 100%))
  );
}
.mr-phone-offsetelementright:not(.mr-phone-offsetelementtop):not(.mr-phone-offsetelementbottom) {
  transform: translateX(var(--offset-element, 100%));
}
.mr-phone-offsetelementbottom:not(.mr-phone-offsetelementleft):not(.mr-phone-offsetelementright) {
  transform: translateY(var(--offset-element, 100%));
}
.mr-phone-offsetelementbottom.mr-phone-offsetelementleft {
  transform: translate(calc(0 - var(--offset-element, 100%)), 100%);
}
.mr-phone-offsetelementbottom.mr-phone-offsetelementright {
  transform: translate(
    var(--offset-element, 100%),
    var(--offset-element, 100%)
  );
}
.mr-phone-offsetelementleft:not(.mr-phone-offsetelementtop):not(.mr-phone-offsetelementbottom) {
  transform: translateX(calc(0 - var(--offset-element, 100%)));
}
