/*(not used on breakpoints only states such as hover)*/
@keyframes mrHide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mrShow {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mrFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mrFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mrSlideInTop {
  0% {
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes mrSlideOutTop {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
}
@keyframes mrSlideInBottom {
  0% {
    -webkit-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes mrSlideOutBottom {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}
@keyframes mrSlideInRight {
  0% {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes mrSlideOutRight {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
  }
}
@keyframes mrSlideInLeft {
  0% {
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes mrSlideOutLeft {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}
@keyframes mrScaleOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes mrScaleIn {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes mrZoomOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes mrZoomIn {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    transform-origin: center;
  }
}
.mr-fade,
.mr-fadeout {
  -webkit-animation: mrFadeOut 0.5s forwards;
  animation: mrFadeOut 0.5s forwards;
  -webkit-animation: mrFadeOut var(--transition-duration, 0.5s) forwards;
  animation: mrFadeOut var(--transition-duration, 0.5s) forwards;
}
.mr-fade.mr-active:not(.mr-inactive),
.mr-fadein {
  -webkit-animation: mrFadeIn 0.5s forwards;
  animation: mrFadeIn 0.5s forwards;
  -webkit-animation: mrFadeIn var(--transition-duration, 0.5s) forwards;
  animation: mrFadeIn var(--transition-duration, 0.5s) forwards;
}
.mr-slide:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slidebottom:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideright:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideleft:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slidetop:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideintop:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideinbottom:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideouttop:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideoutbottom:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideinright:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideoutright:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideinleft:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.mr-slideoutleft:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  overflow: hidden;
}
.mr-slide:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-slidebottom:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-slideoutbottom:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-slide:is(p, h1, h2, h3, h4, h5, h6),
.mr-slidebottom:is(p, h1, h2, h3, h4, h5, h6),
.mr-slideoutbottom:is(p, h1, h2, h3, h4, h5, h6) {
  -webkit-animation: mrSlideOutBottom 0.5s forwards;
  animation: mrSlideOutBottom 0.5s forwards;
  -webkit-animation: mrSlideOutBottom var(--transition-duration, 0.5s) forwards;
  animation: mrSlideOutBottom var(--transition-duration, 0.5s) forwards;
}
.mr-slide.mr-active:not(.mr-inactive):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slidebottom.mr-active:not(.mr-inactive):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slideinbottom:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-slide.mr-active:not(.mr-inactive):is(p, h1, h2, h3, h4, h5, h6),
.mr-slidebottom.mr-active:not(.mr-inactive):is(p, h1, h2, h3, h4, h5, h6),
.mr-slideinbottom:is(p, h1, h2, h3, h4, h5, h6) {
  -webkit-animation: mrSlideInBottom 0.5s forwards;
  animation: mrSlideInBottom 0.5s forwards;
  -webkit-animation: mrSlideInBottom var(--transition-duration, 0.5s) forwards;
  animation: mrSlideInBottom var(--transition-duration, 0.5s) forwards;
}
.mr-transitiontop.mr-slide:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slidetop:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-slideouttop:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-transitiontop.mr-slide:is(p, h1, h2, h3, h4, h5, h6),
.mr-slidetop:is(p, h1, h2, h3, h4, h5, h6),
.mr-slideouttop:is(p, h1, h2, h3, h4, h5, h6) {
  -webkit-animation: mrSlideOutTop 0.5s forwards;
  animation: mrSlideOutTop 0.5s forwards;
  -webkit-animation: mrSlideOutTop var(--transition-duration, 0.5s) forwards;
  animation: mrSlideOutTop var(--transition-duration, 0.5s) forwards;
}
.mr-transitiontop.mr-slide.mr-active:not(.mr-inactive):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slidetop.mr-active:not(.mr-inactive):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slideintop:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-transitiontop.mr-slide.mr-active:not(.mr-inactive):is(p, h1, h2, h3, h4, h5, h6),
.mr-slidetop.mr-active:not(.mr-inactive):is(p, h1, h2, h3, h4, h5, h6),
.mr-slideintop:is(p, h1, h2, h3, h4, h5, h6) {
  -webkit-animation: mrSlideInTop 0.5s forwards;
  animation: mrSlideInTop 0.5s forwards;
  -webkit-animation: mrSlideInTop var(--transition-duration, 0.5s) forwards;
  animation: mrSlideInTop var(--transition-duration, 0.5s) forwards;
}
.mr-transitionright.mr-slide:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slideright:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-slideoutright:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-transitionright.mr-slide:is(p, h1, h2, h3, h4, h5, h6),
.mr-slideright:is(p, h1, h2, h3, h4, h5, h6),
.mr-slideoutright:is(p, h1, h2, h3, h4, h5, h6) {
  -webkit-animation: mrSlideOutRight 0.5s forwards;
  animation: mrSlideOutRight 0.5s forwards;
  -webkit-animation: mrSlideOutRight var(--transition-duration, 0.5s) forwards;
  animation: mrSlideOutRight var(--transition-duration, 0.5s) forwards;
}
.mr-transitionright.mr-slide.mr-active:not(.mr-inactive):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slideright.mr-active:not(.mr-inactive):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slideinright:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-transitionright.mr-slide.mr-active:not(.mr-inactive):is(p, h1, h2, h3, h4, h5, h6),
.mr-slideright.mr-active:not(.mr-inactive):is(p, h1, h2, h3, h4, h5, h6),
.mr-slideinright:is(p, h1, h2, h3, h4, h5, h6) {
  -webkit-animation: mrSlideInRight 0.5s forwards;
  animation: mrSlideInRight 0.5s forwards;
  -webkit-animation: mrSlideInRight var(--transition-duration, 0.5s) forwards;
  animation: mrSlideInRight var(--transition-duration, 0.5s) forwards;
}
.mr-transitionleft.mr-slide:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slideleft:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-slideoutleft:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-transitionleft.mr-slide:is(p, h1, h2, h3, h4, h5, h6),
.mr-slideleft:is(p, h1, h2, h3, h4, h5, h6),
.mr-slideoutleft:is(p, h1, h2, h3, h4, h5, h6) {
  -webkit-animation: mrSlideOutLeft 0.5s forwards;
  animation: mrSlideOutLeft 0.5s forwards;
  -webkit-animation: mrSlideOutLeft var(--transition-duration, 0.5s) forwards;
  animation: mrSlideOutLeft var(--transition-duration, 0.5s) forwards;
}
.mr-transitionleft.mr-slide.mr-active:not(.mr-inactive):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slideleft.mr-active:not(.mr-inactive):not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
  > *,
.mr-slideinleft:not(p):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > *,
.mr-transitionleft.mr-slide.mr-active:not(.mr-inactive):is(p, h1, h2, h3, h4, h5, h6),
.mr-slideleft.mr-active:not(.mr-inactive):is(p, h1, h2, h3, h4, h5, h6),
.mr-slideinleft:is(p, h1, h2, h3, h4, h5, h6) {
  -webkit-animation: mrSlideInLeft 0.5s forwards;
  animation: mrSlideInLeft 0.5s forwards;
  -webkit-animation: mrSlideInLeft var(--transition-duration, 0.5s) forwards;
  animation: mrSlideInLeft var(--transition-duration, 0.5s) forwards;
}
.mr-scale,
.mr-scaleleft,
.mr-scaleright,
.mr-scaleout,
.mr-scaleoutleft,
.mr-scaleoutright {
  transform-origin: center;
  -webkit-animation: mrScaleOut 0.5s forwards;
  animation: mrScaleOut 0.5s forwards;
  -webkit-animation: mrScaleOut var(--transition-duration, 0.5s) forwards;
  animation: mrScaleOut var(--transition-duration, 0.5s) forwards;
}
.mr-scale.mr-active:not(.mr-inactive),
.mr-scaleleft.mr-active:not(.mr-inactive),
.mr-scaleright.mr-active:not(.mr-inactive),
.mr-scalein,
.mr-scaleinleft,
.mr-scaleinright {
  -webkit-animation: mrScaleIn 0.5s forwards;
  animation: mrScaleIn 0.5s forwards;
  -webkit-animation: mrScaleIn var(--transition-duration, 0.5s) forwards;
  animation: mrScaleIn var(--transition-duration, 0.5s) forwards;
}
.mr-transitionright.mr-scale:not(.mr-active),
.mr-scaleleft:not(.mr-active),
.mr-scaleoutright,
.mr-transitionright.mr-scale.mr-active,
.mr-scaleright.mr-active,
.mr-scaleoutleft {
  transform-origin: right center;
}
.mr-transitionleft.mr-scale.mr-active,
.mr-scaleleft.mr-active,
.mr-scaleinright,
.mr-transitionleft.mr-scale:not(.mr-active),
.mr-scaleright:not(.mr-active),
.mr-scaleoutleft {
  transform-origin: left center;
}
.mr-zoom,
.mr-zoomleft,
.mr-zoomright,
.mr-zoomout,
.mr-zoomoutleft,
.mr-zoomoutright {
  transform-origin: center;
  -webkit-animation: mrZoomOut 0.5s forwards;
  animation: mrZoomOut 0.5s forwards;
  -webkit-animation: mrZoomOut var(--transition-duration, 0.5s) forwards;
  animation: mrZoomOut var(--transition-duration, 0.5s) forwards;
}
.mr-zoom.mr-active:not(.mr-inactive),
.mr-zoomleft.mr-active:not(.mr-inactive),
.mr-zoomright.mr-active:not(.mr-inactive),
.mr-zoomin,
.mr-zoominleft,
.mr-zoominright {
  -webkit-animation: mrZoomIn 0.5s forwards;
  animation: mrZoomIn 0.5s forwards;
  -webkit-animation: mrZoomIn var(--transition-duration, 0.5s) forwards;
  animation: mrZoomIn var(--transition-duration, 0.5s) forwards;
}
.mr-transitionleft.mr-zoom.mr-active,
.mr-zoomleft.mr-active,
.mr-zoominleft,
.mr-transitionleft.mr-zoom:not(.mr-active),
.mr-zoomleft:not(.mr-active),
.mr-zoomoutleft {
  transform-origin: left center;
}
.mr-transitionright.mr-zoom.mr-active,
.mr-zoomright.mr-active,
.mr-zoomoutright,
.mr-transitionright.mr-zoom:not(.mr-active),
.mr-zoomright:not(.mr-active),
.mr-zoominright {
  transform-origin: right center;
}
.mr-transition,
.mr-ease {
  transition: all 0.5s ease;
  transition: all var(--transition-duration, 0.5s) ease;
}
.mr-transitionduration {
  transition-duration: 0.5s !important;
  transition-duration: var(--transition-duration, 0.5s) !important;
}
.mr-easein {
  transition: all 0.5s ease-in;
  transition: all var(--transition-duration, 0.5s) ease-in;
}
.mr-easeout {
  transition: all 0.5s ease-out;
  transition: all var(--transition-duration, 0.5s) ease-out;
}
.mr-easeinout {
  transition: all 0.5s ease-in-out;
  transition: all var(--transition-duration, 0.5s) ease-in-out;
}
.mr-linear {
  transition: all 0.5s linear;
  transition: all var(--transition-duration, 0.5s) linear;
}
