/*(not used on breakpoints)*/
/* OTHER CLASSES */
.mr-copy {
  cursor: copy;
  transition: all 0.3s ease-in-out;
}
.mr-copied {
  opacity: 0.5;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
