.mr-gap {
  gap: 0.75rem;
  gap: var(--gap, 0.75rem);
}
.mr-nogap {
  gap: 0 !important;
}
.mr-rowgap {
  row-gap: 0.75rem;
  row-gap: var(--gap, 0.75rem);
}
.mr-norowgap {
  row-gap: 0 !important;
}
.mr-columngap {
  column-gap: 0.75rem;
  column-gap: var(--gap, 0.75rem);
}
.mr-nocolumngap {
  column-gap: 0 !important;
}
.mr-margin {
  margin: 0.75rem;
  margin: var(--margin, 0.75rem);
}
.mr-margintop {
  margin-top: 0.75rem;
  margin-top: var(--margin, 0.75rem);
}
.mr-marginright {
  margin-right: 0.75rem;
  margin-right: var(--margin, 0.75rem);
}
.mr-marginbottom {
  margin-bottom: 0.75rem;
  margin-bottom: var(--margin, 0.75rem);
}
.mr-marginleft {
  margin-left: 0.75rem;
  margin-left: var(--margin, 0.75rem);
}
.mr-nomargin {
  margin: 0 !important;
}
.mr-nomargintop {
  margin-top: 0 !important;
}
.mr-nomarginright {
  margin-right: 0 !important;
}
.mr-nomarginbottom {
  margin-bottom: 0 !important;
}
.mr-nomarginleft {
  margin-left: 0 !important;
}
.mr-padding {
  padding: 0.75rem;
  padding: var(--padding, 0.75rem);
}
.mr-paddingtop {
  padding-top: 0.75rem;
  padding-top: var(--padding, 0.75rem);
}
.mr-paddingright {
  padding-right: 0.75rem;
  padding-right: var(--padding, 0.75rem);
}
.mr-paddingbottom {
  padding-bottom: 0.75rem;
  padding-bottom: var(--padding, 0.75rem);
}
.mr-paddingleft {
  padding-left: 0.75rem;
  padding-left: var(--padding, 0.75rem);
}
.mr-nopadding {
  padding: 0 !important;
}
.mr-nopaddingtop {
  padding-top: 0 !important;
}
.mr-nopaddingright {
  padding-right: 0 !important;
}
.mr-nopaddingbottom {
  padding-bottom: 0 !important;
}
.mr-nopaddingleft {
  padding-left: 0 !important;
}
