.mr-scroll {
  overflow: auto;
}
.mr-noscroll {
  overflow: hidden !important;
}
.mr-hidescroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.mr-horizontalscroll,
.mr-horizontalscrollcontent > * {
  display: -webkit-inline-box !important;
  flex-wrap: unset !important;
  overflow-x: auto;
  overflow-y: hidden;
}
.mr-horizontalscroll img,
.mr-horizontalscrollcontent > * img,
.mr-horizontalscroll a,
.mr-horizontalscrollcontent > * a {
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mr-horizontalscroll > *,
.mr-horizontalscrollcontent > * > * {
  display: block;
}
.mr-drag,
.mr-dragcontent > *,
.mr-draganddrop:not([draggable="false"]) {
  cursor: grab;
}
.mr-dragging:not([draggable="false"]),
.mr-draggingcontent > * {
  cursor: grabbing;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mr-dragging a,
.mr-draggingcontent a {
  pointer-events: none;
}
@supports (-webkit-overflow-scrolling: touch) {
  .mr-iosscroll,
  .mr-scroll {
    overflow-y: scroll !important;
  }
  .mr-horizontalscroll,
  .mr-horizontalscrollcontent > * {
    overflow-x: scroll !important;
  }
  .mr-iosscroll,
  .mr-scroll,
  .mr-horizontalscroll,
  .mr-horizontalscrollcontent > * {
    -webkit-overflow-scrolling: touch !important;
  }
}
