.mr-alignleft {
  text-align: left;
}
.mr-aligncenter {
  text-align: center;
}
.mr-alignright {
  text-align: right;
}
.mr-fontsize7,
.mr-largefontsize {
  font-size: var(--font-size-7, 2rem);
}
.mr-fontsize6 {
  font-size: var(--font-size-6, 1.125rem);
}
.mr-fontsize5,
.mr-mediumfontsize {
  font-size: var(--font-size-5, 1.17rem);
}
.mr-fontsize4 {
  font-size: var(--font-size-4, 1rem);
}
.mr-fontsize3 {
  font-size: var(--font-size-3, 0.875rem);
}
.mr-fontsize2 {
  font-size: var(--font-size-2, 0.75rem);
}
.mr-fontsize1,
.mr-smallfontsize {
  font-size: var(--font-size-1, 0.625rem);
}
