.mr-backgroundcolor {
  background-color: var(--background-color, #fff);
}

.mr-textcolor {
  color: var(--text-color, #000);
}

.mr-coverimage,
.mr-coverimage > img {
  max-width: inherit;
  /*width: 100%;
  height: 100%;*/
}

.mr-cover,
.mr-coverimage,
.mr-coverimage > img {
  object-fit: cover;
  background-size: cover;
}

.mr-contain,
.mr-containimage,
.mr-containimage > img {
  object-fit: contain;
  background-size: contain;
}

.mr-nounderline {
  text-decoration: none !important;
}

.mr-nolines,
.mr-noborders {
  border: 0;
}
