.mr-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.mr-transparent {
  opacity: 0;
}
.mr-opaque {
  opacity: 1;
}
.mr-semiopaque {
  opacity: 0.5;
  opacity: var(--opacity, 0.5);
}
.mr-show,
.mr-block {
  display: block !important;
}
.mr-show,
.mr-visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.mr-hide,
.mr-none {
  display: none !important;
}
.mr-hide,
.mr-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
